[submodule "AltarDocker"]
	path = AltarDocker
	url = https://github.com/DreamRepo/AltarDocker.git
[submodule "AltarExtractor"]
	path = AltarExtractor
	url = https://github.com/DreamRepo/AltarExtractor.git
[submodule "AltarSender"]
	path = AltarSender
	url = https://github.com/DreamRepo/AltarSender.git
[submodule "AltarViewer"]
	path = AltarViewer
	url = https://github.com/Alienor134/AltarViewer
